swagger: "2.0"
info:
  version: "0.2.1"
  title: postcode-geopos-api
host: p-g-a.daten-und-bass.io
basePath: /
schemes:
  - https
consumes:
  - application/json
  - application/x-www-form-urlencoded
produces:
  - application/json

paths:
  /api/v1/:
    x-swagger-pipe: swagger_raw

  /api/v1/{de}/{postcodes}/load:
    x-swagger-router-controller: context_json_api_de_postcodes
    get:
      summary: Loads data to db
      description: Preliminary endpoint for initialising the database by loading data recieved from external API requests to the internal db
      operationId: load
      security:
        - oauth2: [ "write:pc" ]
      parameters:
        - $ref: "#/parameters/de"
        - $ref: "#/parameters/postcodes"
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              type: string
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

  /api/v1/{de}/{postcodes}/names:
    x-swagger-router-controller: context_json_api_de_postcodes
    get:
      summary: Returns names for postcodes
      description: Returns all (city) names for all postcodes within either the given lead region or the given names pattern
      operationId: namesRangeOrScan
      security:
        - oauth2: [ "read:pc" ]
      parameters:
        - $ref: "#/parameters/de"
        - $ref: "#/parameters/postcodes"
        - name: leadRegion
          in: query
          description: Postcode lead region ("Postleitregion") modelled as string (due to leading zeroes in German postcodes)
          type: string
          pattern: "^[0-9]{2,2}$"
        - name: namesPattern
          in: query
          description: Pattern to match postcode and city name (only either this parameter or parameter (leadRegion) is allowed at the same time)
          type: string
          pattern: "^[0-9\\sa-zA-ZäAöÖüÜß]{4,4}$"
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              type: string
        "400":
          description: Either parameter (leadRegion) or parameter (namesPattern) are required.
          schema:
            $ref: "#/definitions/ErrorResponse"        
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

  /api/v1/{de}/{postcodes}/position/{postcode}:
    x-swagger-router-controller: context_json_api_de_postcodes
    get:
      summary: Returns position for postcode
      description: Returns the geoposition for one postcode
      operationId: positionsGet
      security:
        - oauth2: [ "read:pc" ]
      parameters:
        - $ref: "#/parameters/de"
        - $ref: "#/parameters/postcodes"
        - $ref: "#/parameters/postcode"
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              type: string
              # pattern: "^[+-]{0,1}[0-9]{1,}[.][0-9]{1,}$" actually right regex for float according to https://regex101.com, but swagger outputs "Bad string"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

  /api/v1/{de}/{postcodes}/object/{postcode}:
    x-swagger-router-controller: context_json_api_de_postcodes
    get:
      summary: Returns postcode object
      description: Returns a JSON object with details on the given postcode
      operationId: objectsGet
      security:
        - oauth2: [ "read:pc" ]
      parameters:
        - $ref: "#/parameters/de"
        - $ref: "#/parameters/postcodes"
        - $ref: "#/parameters/postcode"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/postcodeObject"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

  /api/v1/{de}/{postcodes}/distance:
    x-swagger-router-controller: context_json_api_de_postcodes
    get:
      summary: Returns distance between two postcodes
      description: Returns the linear distance in the given unit between the central points of the two given postcodes 
      operationId: distanceGet
      security:
        - oauth2: [ "read:pc" ]
      parameters:
        - $ref: "#/parameters/de"
        - $ref: "#/parameters/postcodes"
        - name: start
          required: true
          in: query
          description: Postcode start point
          type: string
          pattern: "^[0-9]{5,5}$"
        - name: end
          required: true
          in: query
          description: Postcode destination point
          type: string
          pattern: "^[0-9]{5,5}$"
        - name: unit
          required: false
          in: query
          description: The unit to be used for the distance value (defaults to meter)
          type: string
          enum: [ m, km, mi, ft ]
          default: m
      responses:
        "200":
          description: Success
          schema:
            type: array
            items:
              type: string
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

  /swagger:
    x-swagger-pipe: swagger_raw

parameters:
  de:
    name: de
    required: true
    in: path
    description: Constant parameter used for detecting the country Germany
    type: string
    enum: [ de ]
  postcodes:
    name: postcodes
    required: true
    in: path
    description: Constant parameter used for detecting the data type of postcodes
    type: string
    enum: [ postcodes ]
  postcode:
    name: postcode
    required: true
    in: path
    description: Postcode modelled as string (due to leading zeroes in German postcodes)
    type: string
    pattern: "^[0-9]{5,5}$"

definitions:

  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string

  postcodeObject:
    type: object
    properties:
      osm_id:
        type: string
      osm_type:
        type: string
      place_id:
        type: string
      class:
        type: string
      type:
        type: string
      boundingbox:
        type: string
      lat:
        type: string
      lon:
        type: string
      display_name:
        type: string
      importance:
        type: string
      licence:
        type: string

securityDefinitions:
  oauth2:
    type: oauth2
    description: Scope-based access to API operations
    flow: application
    tokenUrl: https://localhost:10011/api/v1/accesstoken
    scopes:
      write:pc: Write operations for postcode management
      read:pc: Read operations for postcodes

x-volos-resources:
  oauth2:
    provider: volos-oauth-redis
    options:
      tokenLifetime: 900000000
      validGrantTypes:
        - client_credentials
      tokenPaths:
        token: /api/v1/accesstoken
        invalidate: /api/v1/invalidate

